body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  margin: 0;
  padding: 1em;
  word-break: break-word;
  line-height: 1.6;
  color: #444;
}

a {
  color: #1d6eee;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: #3d85c6;
  text-decoration: underline;
}

h1 {
  text-align: center;
  background-color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: 2em;
  margin: 0 0 0.8em 0;
  padding: 0 0 0.2em 0;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  color: #444;
  font-weight: 900;
  font-size: 1.3em;
  margin-block: 0.5em;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 1em;
  margin-block: 0.5em;
}

.hidden {
  display: none;
}

.highlight {
  background-color: #f0f0f0;
  font-size: 1.2em;
  margin: 0 0 30px 0;
  padding: 0.8em 1.5em;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.warning {
  color: red;
  font-weight: 400;
}

button {
  background-color: #065de8bb;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.0em;
  margin: 0 0 1em 0;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

open_button {
  background-color: #2ca32c;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.0em;
  margin: 0 0 1em 0;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

stop_button {
  background-color: #a32c2c;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.0em;
  margin: 0 0 1em 0;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #4568c8;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

canvas {
  background-color: #a4a4a4;
  width:400%;
  height: 500%;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

code {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #f5f5f5;
  padding: 0.2em 0.5em;
  border-radius: 4px;
}

div#container {
  width: 95%;
  float:left;
  padding: 1em 1.5em 1.3em 1.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
div#Video {
  width: 95%;
  float: left;
  padding: 1em 1.5em 1.3em 1.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div#links a {
  display: block;
  margin: 0 0 1em 0;
  color: #444;
  font-size: 1.1em;
}

div.box1 {
  display:flex;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
 margin-bottom: 0.5em;
 width: 100%;
 height: 100%;
}

div.box2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0.2em;
  margin-bottom: 0.5em;
 width: 100%;
}

div.box_button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8em;
  width: auto;
}

select {
  margin: 0 1em 1em 0;
  position: relative;
  top: -1px;
}

input[type="radio"] {
  position: relative;
  top: -1px;
}

textarea {
  resize: none;
  font-family: 'Times New Roman', Times, serif;
  width: auto;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em;
}

gesture_output {
  resize: none;
  font-family: 'Times New Roman', Times, serif;
  width: auto;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em;
}

ul {
  margin-block: 0;
}

video {
  background: #222;
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

fieldset {
  margin: 0 0 1em 0;
  border: none;
}

fieldset > select {
  margin-top: 1em;
}
